/* * {
    box-sizing: border-box;
    background: rgb(0 100 0 / 0.1) !important;
} */

body {
    margin: 0;
    scroll-behavior: smooth;
    color: #242E30;
    font-family: 'Heebo', sans-serif;
    overflow-x: hidden;
}

h1 {
    margin-block-start: 0.80em;
    margin-block-end: 0.30em;
}

h3 {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

p {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

.d-none {
    display: none;
}

header {
    box-shadow: 1px 3px 9px 1px rgb(140 140 140 / 10%);
}

.header-logos {
    cursor: pointer;
}

.header-logos:hover {
    filter: brightness(95%);
}

.nav-bar {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.nav-bar img {
    height: 40px;
}

.nav-right img {
    height: 24px;
    padding-right: 46px;
    cursor: pointer;
}

.info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-top img {
    height: 46px;
    width: 46px;
    margin-left: 6px;
}

.info-bottom img {
    float: left;
    margin-right: 6px;
}

.main {
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    width: 100%;
}

.menu {
        width: 100%;
}

.information {
    margin-right: 200px;
    margin-left: 200px;
}

.content-top {
    box-shadow: -11px 7px 15px 1px rgba(140, 140, 140, 0.15);
}

.content-bottom {
    margin-right: 200px;
    margin-left: 200px;
}

.content-bottom h2 {
    margin-left: 18px;
    margin-top: 32px;
}

.dish {
    box-sizing: border-box;
    border: 1px solid #68888e3d;
    margin: 18px;
    align-items: flex-start;
    border-radius: 10px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    /* background-image: url(img/plus_01.png);
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: 97% 17%; */
}

.dish img {
    float: right;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.impressum {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 18px;
    margin-right: 18px;
}

.basket-div {
    margin-top: 12px;
    flex-basis: 20%;
    flex-grow: 0;
    padding-left: 32px;
    padding-right: 32px;
    position: relative;
    flex-shrink: 0;
    box-shadow: -11px 7px 15px 1px rgba(140, 140, 140, 0.15);
    text-align: center;
}

.basket img {
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
}

.basketSum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.basket-left {
    text-align: start;
}

.basket-right {
    text-align: end;
}

.basket-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 21px;
    margin-bottom: 24px;
}

.basket-buttons button {
    border: solid 1px rgba(211, 211, 211, 0);
    height: 42px;
    width: 42px;
    font-size: 20px;
    margin-left: 8px;
    border-radius: 25px;
    cursor: pointer;
}

.top-left {
    display: flex;
    gap: 12px;
    flex-direction: row;
    justify-content: start;
}

.order-button {
    background-color: #f36805;
    color: white;
    font-weight: 500;
    font-size: 20px;
    border-radius: 50px;
    padding: 8px;
    border: solid 1px #f36805;
    cursor: pointer;
    width: 300px;
}

.order-button:hover {
    background-color: #f34c05;
}

.header-img {
    background-image: url(img/cookforyou_04.jpg);
    background-position: center;
    background-size: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    position: relative;
}

.header-img img {
    height: 72px;
    width: 72px;
    display: block;
    position: absolute;
    left: 20%;
    right: 80%;
    margin-left: auto;
    margin-right: auto;
    bottom: -20px;
}

.header-logo {
    position: relative;
    top: 75%;
    left: 140px;
}

.info-slider {
    height: 32px;
    display: flex;
    justify-content: space-between;
    color: #242E30;
    font-weight: 500;
    margin-right: 8px;
    overflow: hidden;
    padding-top: 32px;
    padding-bottom: 12px;
}

.info-slider a {
    color: #242E30;
    text-decoration: none;
}

.info-slider img {
    height: 16px;
    width: 16px;
}

.tableSum table {
    width: 312px;
}

.tableSum tr td:nth-child(2) {
    text-align: right;
}

.tableSum table tr:last-child {
    font-weight: 600;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #262626;
    color: white;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.footer a {
    color: white;
    text-decoration: none;
    padding-right: 12px;
    font-size: 14px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


@media (max-width: 1000px) {
    .basket-div {
        display: none;
    }
}